spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost/SITM
    username: postgres
    password: admin
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  compression:
    enabled: true
    mime-types: text/html,text/css,application/javascript,application/json
  
eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true